@charset "utf-8";

body {

	width: 100%;
	height:100%;
	background: url(images/background.jpg);
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
}

.login {
	
	position: relative;
	width: 250px;
	display: table;
	margin: 150px auto;
	background: #fff;
	border-radius: 15px;
}

.legend {
	position: relative;
	width: 84%;
	display: block;
	background: #93ba39 url(images/cutelock.png);
	background-size: 50px 55px;
	background-repeat: no-repeat;
	background-position: 190px 5px;
	padding: 20px;
	color: #fff;
	font-size: 20px;
	border-radius: 15px 15px 0px 0px;

}

.input {

	position: relative;
	width: 90%;
	margin: 15px auto;
}

.input span {

	position: absolute;
	display: block;
	color: #d4d4d4;
	left: 10px;
	top: 8px;
	font-size: 20px;

}

.submit {
	width: 45px;
	height: 45px;
	display: block;
	margin: 0 auto -10px auto;
	background: #fff;
	border-radius: 100%;
	border: 1px solid #93ba39;
	color: #93ba39;
	font-size: 24px;
	cursor: pointer;
	box-shadow: 0px 0px 0px 7px #fff;
	transition: 0.2s ease-out;
}

.submit:hover {
	background: #93ba39;
	color: #a3a1a1;
	outline: 0;

}

.feedback {

	position: absolute;
	bottom: 70px;
	width: 100%;
	text-align: center;
	color: #fff;
	background: #2aaecc;
	padding: 10px 0px;
	font-size: 12px;
	display: none;
	opacity: 0;

}