<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

	<link rel="stylesheet"  href="/index.css">
	<title>Quiz Time Baby!</title>
</head>
<body class="quizB">

<h1 id="title1">You Ready to go m8?</h1>

<button id="start-quiz" class="quizStart" style="vertical-align:middle"><span>Next </span></button>



<div id="board">
<ul>
		<li style = "display: block;" id="catagory"></li> <br>
		<li style = "display: block;" id="type"></li> <br>
		<li style = "display: block;" id="difficulty"></li> <br>
		<li style = "display: block;" id="question"></li><br>
	<div>	

	<button type="button" id="a" data-toggle="button" aria-pressed="false" autocomplete="off">A</button> <br>

	<button type="button" class="btn2" id="b" data-toggle="button" aria-pressed="false" autocomplete="off" >B</button> <br>

	<button  type="button" class="btn2" id="c" data-toggle="button" aria-pressed="false" autocomplete="off" >C</button> <br>

	<button type="button" class="btn2" id="d" data-toggle="button" aria-pressed="false" autocomplete="off" >D</button> <br>

</div>

	</ul>

</div>

<img id="buffalo" src="/images/Buffalo-Chicken.png" width= "100" height=" 100">


<img id="push" src="/images/pusheen.gif" width= "250" height=" 250">

<script src="../updated.js"></script>
</body>
</html>