<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>

	<link rel="stylesheet"  href="/index.css">
</head>
<body>

	<h1>Welcome to Kawaii Kuizzes!!!</h1>
<form id="form" action="/quiz/add" class="login" method="post" >

	

	<legend class="legend"> Pls Login</legend>

	<div class="input"> 
		<input type="email" name="emaillogin" placeholder="Enter Email" required>
		

	</div>

	<div class="input">
		<input type="password" name="passwordlogin" placeholder="Enter Password" required>
		

	</div>
	
<input type="submit" class="submit" > </input>




</form>


<script src="../script.js"> </script>

</body>
</html>