@charset "utf-8";

body {

	width: 100%;
	height:100%;
	background: url(images/background.jpg);
	font-family: "Comic Sans MS";
	font-weight: 200;
}

h1 {

	text-align: center;
	font-family: "Comic Sans MS";
	color: #F4C2C2;
	padding-top: 50px;
}

#title1 {
	text-align: center;
	font-family: "Comic Sans MS";
	color: #93ba39;
	margin-bottom: 25px;


}

.quizB {

	
	
	height:100%;
	background: url(images/kawaii.png) no-repeat center center fixed;
   background-size: cover;   

}

#push {

	position: absolute;
	top: 0px;
	right: 0px;
}

#buffalo {
	position: absolute;
	right: 0px;
	bottom: 0px
}

.login {
	
	position: relative;
	width: 250px;
	display: table;
	margin: 150px auto;
	background: #fff;
	border-radius: 15px;
}

.legend {
	position: relative;
	width: 84%;
	display: block;
	background: #93ba39 url(images/cutelock.png);
	background-size: 50px 55px;
	background-repeat: no-repeat;
	background-position: 190px 5px;
	padding: 20px;
	color: #fff;
	font-size: 20px;
	border-radius: 15px 15px 0px 0px;

}

.input {

	position: relative;
	width: 90%;
	margin: 15px auto;
}

.input span {

	position: absolute;
	display: block;
	color: #d4d4d4;
	left: 10px;
	top: 8px;
	font-size: 20px;

}

.submit {
	width: 65px;
	height: 65px;
	display: block;
	margin: 0 auto -5px auto;
	background: #fff;
	border-radius: 100%;
	border: 1px solid #93ba39;
	color: #93ba39;
	font-size: 15px;
	cursor: pointer;
	box-shadow: 0px 0px 0px 7px #fff;
	transition: 0.2s ease-out;
}

.submit:hover {
	background: #93ba39;
	color: #a3a1a1;
	outline: 0;

}



.quizStart {

display: block;
  border-radius: 4px;
  background-color: #00CED1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;

}

.quizStart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.quizStart span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.quizStart:hover span {
  padding-right: 25px;
}

.quizStart:hover span:after {
  opacity: 1;
  right: 0;
}

#board {
	margin-left: 175px;
	margin-top: 50px;

	text-align: center;
	
	display: none;
	height: 500px;
	width: 600px;
}

ul {
	margin: 0 auto;

}

#a, #b, #c, #d {

	background-color: #93ba39;
	border-radius: 15px 15px 15px 15px;
	margin-bottom: 10px;

}

#catagory {

	color: #E5FFE4
}

#type {
	color: #FFFFE3
}

#difficulty {

	color: #922bab
}

#question {

	color: #37abe1


}