<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>

	<link rel="stylesheet"  href="/index.css">
</head>
<body>
<form action="/quiz/add/" class="login" method="post">

	

	<legend class="legend"> Login</legend>

	<div class="input"> 
		<input type="email" name="emaillogin" placeholder="Enter Email" required >
		

	</div>

	<div class="input">
		<input type="password" name="passwordlogin" placeholder="Enter Password" required >
		

	</div>
	
<button type="submit" class="submit" > Submit <i class="fa da-long"></i></button>

<div class="feedback">
	
	login successful <br>
	redirecting...
</div>
</form>


<script src="../script.js"> </script>

</body>
</html>